$gutter: 0.8rem;

$dark-blue: #13405c;
$light-blue: #bddcf0;
$violet: #5300ff;
$normal-blue: #2a80b9;
$light-grey: #818385;
$dark-grey: #333333;
$light-color: white;

$ease-out-back: cubic-bezier(0.175, 0.885, 0.43, 1.65);

$background-color: $dark-blue;
$messages-background-color: $light-blue;
$message-background-color: $light-color;
$message-color: $normal-blue;

$form-background-color: $light-color;
$form-btn-color: $normal-blue;

$settings-btn-background-color: $light-color;
$settings-btn-color: $violet;
$settings-submit-background-color: $violet;
$settings-submit-color: $light-color;
