@use "/src/styles/vars";

.chatMessage {
  padding: vars.$gutter 0;
  margin-bottom: vars.$gutter * 2;

  &--author {
    margin: 0 vars.$gutter * 2;
    margin-bottom: 1rem;
  }

  &--text {
    position: relative;
    padding: vars.$gutter;
    background-color: vars.$message-background-color;
    border-radius: 1.5rem;
    color: vars.$message-color;
    min-width: 10em;
    padding: vars.$gutter * 1.5;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      border-bottom: 1rem solid vars.$message-background-color;
      border-left: 1rem solid transparent;
      top: -1rem;
      left: 2rem;
    }
  }
}
